<% provide(:title, "Sign up") %>
<h1>Sign up</h1>

<%if @error %>
  <h1> <%= @error %> </h1>
<%end %>
<%= form_for @user, url:signup_path do |f| %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <%= f.submit "Signup" %>
<% end %>
